header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #061129;
  color: #147bdb;
  height: 90px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  flex-wrap: wrap;
}

.header {
  font-size: 24px;
  font-weight: bold;
  font-style: oblique;
}

.nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.nav li {
  margin: 0 15px;
}

.nav a {
  text-decoration: none;
  color: #147bdb;
}

.nav a:hover {
  color: #804fce;
  font-weight: bold;
  transition: color 0.3s ease;
  text-decoration: none;
}

@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: flex-start;
  }

  .header {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .nav ul {
    flex-direction: row;
    gap: 8px;
    width: 100%;
  }

  .nav li {
    margin: 10px 0;
  }

  .nav a {
    font-size: 18px;
  }
}
